<html>
    <head>
        <title>Manage incoming requests</title>
    </head>
    <body>
        {%if requests == () %}
        <h2>You currently have no incoming requests</h2>
        <a href="/">Go back</a>
        {% else %}
        <h2>Manage incoming requests</h2>
        <div>
            <table>
                <th>Username</th>
                <th></th>
                <th></th>
                {% for row in requests %}
                    <tr>
                        <td>{{row.username_follower}}</td>
                        <td><form action="/accept" method="post"><input type="submit" value="Accept"><input type="hidden" name="follower" value={{row.username_follower}}></form></td>
                        <td><form action="/reject" method="post"><input type="submit" value="Reject"><input type="hidden" name="follower" value={{row.username_follower}}></form></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <a href="/">Go back</a>
        {% endif %}
    </body>
</html>